{% load static %}

    <script>
      document.addEventListener('DOMContentLoaded', () => {

// Get all "navbar-burger" elements
const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

// Check if there are any navbar burgers
if ($navbarBurgers.length > 0) {

  // Add a click event on each of them
  $navbarBurgers.forEach( el => {
    el.addEventListener('click', () => {

      // Get the target from the "data-target" attribute
      const target = el.dataset.target;
      const $target = document.getElementById(target);

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      el.classList.toggle('is-active');
      $target.classList.toggle('is-active');

    });
  });
}

});
      </script>

    <script src="https://kit.fontawesome.com/ef5547766a.js" crossorigin="anonymous"></script> 

   <!-- Scripts -->

    <script src="   {% static 'js/jquery.min.js' %}
"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="   {% static 'js/popper.min.js' %}
"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="   {% static 'js/bootstrap.min.js' %}
"></script> <!-- Bootstrap framework -->
    <script src="   {% static 'js/jquery.easing.min.js' %}
"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="   {% static 'js/swiper.min.js' %}
"></script> <!-- Swiper for image and text sliders -->
    <script src="   {% static 'js/jquery.magnific-popup.js' %}
"></script> <!-- Magnific Popup for lightboxes -->
    <script src="   {% static 'js/validator.min.js' %}
"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="   {% static 'js/scripts.js' %}
"></script> <!-- Custom scripts -->