<!doctype html>
<html lang="en">
{% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include 'base/css.html' %}
    {% block custom_css %}{% endblock custom_css %}
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
  {% include 'base/navbar.html' %}
    {% block content %} {% endblock content %}

    {% block custom_js %}{% endblock custom_js %}
    {% include 'base/js.html' %}
  </body>
</html>